/*RESET CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*END RESET CSS*/

.exercise:before{
    content: '';
    display: block;
    border-top: 1px solid black;
}

.one .low{
    vertical-align: sub;
}

.three ul{
    margin-left: 40px;
}

.four *{
    margin-top: 10px;
}
.four h1{
    color: brown;
}
.four h3{
    color: #a54b23;
}
.four a{
    color: green;
}

.six .table6{
    border-spacing: 1px;
    cellpadding: 4;
    cellspacing: 1;
}

.seven sub{
    color: blue;
}
.seven sup{
    color: red;
}

.eight .flag{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    position: relative;
}
.eight .flag-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 120px;
    height: 120px;
    background-color: #ff2328;
    border-radius: 50%;
}
.eight .flag-circle:hover {
    background-color: blue;
}

.ten .square{
    display: inline-block;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}
.ten .square.blue{
    background: blue;
}
.ten .square.black{
    background: black;
}
.ten .square:hover{
    background: orange;
}